<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"              content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	
    <title>{% block title %}Home page{% endblock %}</title>
</head>
<body>
	<main>
		<nav>
        	<a href="/"         >Home</a>
        	<a href="/projects" >Projects</a>
			<a href="/blog"     >Blog</a>
			<a href="/info"     >Info</a>
			<a href="/reg"      >Reg</a>
			<a href="/auth"     >Auth</a>
		</nav>
    	
		<main>
			{%- block content %}
			<h1>hello world</h1>

			<p>home pages</p>
			<p>Sayt haqida ma'lumotlar joylashadi</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores magni, cupiditate repellendus facilis vero ullam fugit doloribus maxime ratione provident delectus tempore soluta accusantium, sequi enim perspiciatis, similique nobis quidem!</p>
    		{%- endblock %}
		</main>
	</main>
</body>
</html>
