{% extends 'home.html' %}

{% block title %}blog{% endblock %}

{%- block content %}
			<form method=post>
				<fieldset>
					<legend>Reg</legend>
					
					<input type=text  name=nick  placeholder=Nick  required>
					<input type=email name=email placeholder=Email required><br>
					
					<input type=password name=pass  placeholder=Pass required>
					<input type=password name=pass2 placeholder=Pass required><br>
					
					<input type=reset>
					<input type=submit>
				</fieldset>
			</form>
{%- endblock %}